* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #282938;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.text-purple {
  color: #5e3bee; /* Ungu */
}

/* +++++++ NAVBAR ++++++++ */

header {
  background-color: #ffffff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  box-shadow: 0 5.3px 80px rgba(0, 0, 0, 0.1);
}

header .header-nav.show {
  padding: 24px;
  background-color: #ffffff;
  position: absolute;
  top: 65px;
  right: 0px;
  transform: translateX(0px);
  display: flex;
  flex-direction: column;
  gap: 64px;
  z-index: 1;
  height: fit-content;
  opacity: 1;
  display: flex;
}

header .header-nav {
  width: 100%;
      display: none;
      justify-content: space-between;
      align-items: start;
      flex-direction: column;
      position: absolute;
      gap: 42px;
      z-index: -1;
      opacity: 0;
      top: 65px;
      right: -500px;
      transform: translateX(100px);
      transition: 0.5s;
}
header .header-nav a:hover {
  color: #3e22ab; /* Warna ungu lebih gelap */
}

header .header-nav.show a:hover {
  color: #3e22ab;
}

header .header-nav a {
  font-size: 22px;
  text-decoration: none;
}

header .hambuger-menu {
  padding: 8px;
}
header .header-nav .btn-cta {
  color: #5e3bee; /* Ungu */
  &:hover {
    color: rgb(255, 255, 255); /* Warna ungu lebih gelap */
  }
}
header .btn-cta {
  display: inline-block;
  
  
}


.btn {
  font-size: 22px;
  text-decoration: none;
  border: 1px solid #5e3bee; /* Ungu */
  color: #5e3bee; /* Ungu */
  padding: 14px 32px;
  border-radius: 8px;
  display: inline-block;
}

.btn:hover {
  background-color: #5e3bee; /* Ungu */
  color: white;
  transition: 0.3s;
}

/* +++++++ HERO SECTION ++++++++ */

#hero-section {
  background-color: #f5fcff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#hero-section .hero-section-image img {
  width: 100%;
}

/* content text */
#hero-section .hero-section-content {
  margin-bottom: 32px;

  .content-text {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 32px;
    text-align: center;
  }
}

.content-text .content-text-label {
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0;
}

.content-text h1 {
  font-size: 42px;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 0%;
}

.content-text p {
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0%;
}

.content-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.btn.btn-solid {
  text-align: center;
  background-color: #5e3bee; /* Ungu */
  color: white;
  width: 50%;
}

.btn.btn-solid:hover {
  background-color: #3e22ab; /* Warna ungu lebih gelap */
  color: white;
}

/* SKILLS SECTION */

#skills-section {
  padding: 80px 24px;
  min-height: 4;
}

#skills-section .section-content {
  display: flex;
  flex-direction: column;
  gap: 42px;
  margin-top: 48px;
}

/* .section-header */
.section-header {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.section-header .section-header-sub {
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0;
}

.section-header .section-header-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
}

.skill-item {
  background-color: #f5fcff;
  padding: 32px;
  border-radius: 10px;
  flex-basis: 25%;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.skill-item:hover {
  border-bottom: 4px solid #5e3bee; /* Ungu */
}

.skill-item-text h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.skill-item-text p {
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0%;
}

.skill-item-icon {
  display: flex;
  margin-bottom: 32px;
  background-color: white;
  border-radius: 10px;
  padding: 14px;
  width: fit-content;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

/* +++++++ ABOUTME SECTIONS +++++++ */
#aboutme-section {
  padding: 80px 24px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

/* content image */

#aboutme-section .aboutme-section-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutme-section .aboutme-section-image img {
  width: 70%;
  margin-top: 48px;
}

/* content text */

#aboutme-section .aboutme-section-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aboutme-section-content .content-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content-text h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
}

.content-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

/* PROJECT SECTION */

#project-section {
  padding: 40px 24px;
  min-height: 4;
  margin-bottom: 24px;
}

#project-section .section-content {
  display: flex;
  flex-direction: column;
  gap: 42px;
  margin-top: 48px;
}

#project-section .section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;

  .content-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

.view-dribbble {
  background-color: #0077b5; /* LinkedIn Blue */
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
  text-decoration: none;

  svg {
    width: 32px;
    height: 32px;
  }

  p {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    display: none;
  }

  &:hover {
    background-color: #005983; /* Darker LinkedIn Blue */
    transition: 0.3s;
    border-bottom: 3px solid #0077b5;
  }
}


#project-section.section-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-item {
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  cursor: pointer;
  background-color: white;

  &:hover {
    border-bottom: 4px solid #5e3bee; /* Ungu */
  }
}

.project-item .container-image {
  background-color: lightblue;
  border-radius: 8px;
  height: 400px;
}

.project-item img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.project-item .content-text {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }

  .view-project {
    margin-top: 10px;
    display: flex;
    width: fit-content;
    gap: 8px;
    text-decoration: none;
    align-items: center;

    svg {
      width: 16px;
    }

    p {
      font-size: 18px;
      font-weight: 600;
    }

    &:hover {
      border-bottom: 2px solid #5e3bee; /* Ungu */
      transition: 0.3s;
      color: #5e3bee; /* Ungu */
    }
  }
}

/* TESTIMONI */

#testi-section {
  margin-top: 40px;
  padding: 40px 24px;
  background-color: #f5fcff;

  .content-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-top: 106px;
  }

  .testi-item {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 43px;
    border: 1px solid #5e3bee; /* Ungu */
    border-radius: 10px;
  }

  .testi-item .rating svg {
    color: #5e3bee; /* Ungu */
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .reviewer {
    display: flex;
    align-items: center;
    gap: 12px;

    .container-image {
      background-color: #5e3bee; /* Ungu */
      width: 74px;
      height: 74px;
      border-radius: 100%;
    }

    .name-details {
      display: flex;
      flex-direction: column;
      gap: 4px;

      h4 {
        font-weight: 600;
        font-size: 18px;
      }

      p {
        font-weight: 400;
        font-size: 18px;
      }
    }
  }
}
